.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item__code,
.Item__title,
.Item__price,
.Item__count {
  display: flex;
  align-items: center;
}


.Item__code {
  padding: 20px 10px 20px 20px;
}

.Item__title {
  width: 100%;
  padding: 20px 10px;
}

.Item__price,
.Item__count {
  justify-content: flex-end;
  white-space: nowrap;
  padding: 20px 20px;

  font-size: 18px;
  color: #404040;
}

.Item__count {
  margin-left: 20px;
}

.Item__actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item__actions button {
  width: 75px;
}
