.Login {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Login-link {
  padding: 0 20px;
}

.Login-link span {
  font-size: 13px;
}

.Login-link {
  padding: 0 20px;
  color: #0087E9;
}

.Login-link:hover {
  color: rgba(0, 117, 201, 1);
}

.Login-link:active {
  color: rgb(0, 141, 241);
}