.Pagination {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
}

.Pagination__page-count {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0px 5px;
}

.Pagination__ellipsis {
  display: flex;
  align-items: center;
  color:#CCCCCC;
}

.Pagination__page-count:hover {
  background-color: #E1E1E1;
}

.Pagination__page-count_selected {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0px 5px;
  background-color: #0087E9;
  color: #FFFFFF;
}