.CartControls {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
}

.CartControls__button {
    width: 75px;
}

.CartControls__text {
    font-size: 18px;
    padding-right: 20px;
}

.CartControls__text_b {
    font-size: 18px;
    padding-right: 20px;
}